<div *ngIf="childSelectedRecipe">
  <h3>{{childSelectedRecipe.title}}</h3>
  <label>Enter Recipe Title:</label>
  <input [(ngModel)]="childSelectedRecipe.title">
  <h3>{{childSelectedRecipe.directions}}</h3>
  <label>Enter Recipe Directions:</label>
  <input [(ngModel)]="childSelectedRecipe.directions">
  <h3>{{childSelectedRecipe.ingredients}}</h3>
  <label>Enter Recipe Ingredients:</label>
  <input [(ngModel)]="childSelectedRecipe.ingredients">
  <button (click)="finishedEditing()">Done</button>
</div>
