<div style="text-align:center">
  <div class="jumbotron">
    <h1>Recipe Box</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <app-recipe-list [childRecipeList]="masterRecipeList" (clickSender)="editRecipe($event)"></app-recipe-list>
      </div>

      <div class="col-sm-8">
        <app-edit-recipe [childSelectedRecipe]="selectedRecipe" (clickedDone)="finishedEditing()"></app-edit-recipe>
      </div>

    <app-recipe-detail></app-recipe-detail>
  </div>
</div>
