<h1>Recipe Box</h1>


<div *ngIf="selectedRecipe">
  <h3>{{selectedRecipe.title}}</h3>
  <h3>Edit Recipe</h3>
  <label>Enter Recipe Title:</label>
  <input [(ngModel)]="selectedRecipe.title">
  <label>Enter Recipe Directions:</label>
  <br>
  <input [(ngModel)]="selectedRecipe.directions">
  <button (click)="finishedEditing()">Done</button>
</div>

<app-recipe-list [childRecipeList]="masterRecipeList" (clickSender)="editRecipe($event)"></app-recipe-list>

<app-recipe-detail></app-recipe-detail>
<app-edit-recipe [selectedRecipe]="selectedRecipe" (clickedDone)="finishedEditing"></app-edit-recipe>
