<div style="text-align:center">
  <div class="jumbotron">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
</div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <app-recipe-list [childRecipesList]="masterRecipesList" (clickSender)="editRecipe($event)"></app-recipe-list>
      </div>
      <div class="col-sm-4">
        <app-edit-recipe [childSelectedRecipe]="selectedRecipe" (clickedDone)="finishedEditing()"></app-edit-recipe>
      </div>
    </div>
  </div>
